.statistic-card {
  display: flex;
  justify-content: space-around;
}

.card-padding {
  padding-bottom: 8px;
  padding-top: 8px;
}

.card_box:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
    0 24px 46px var(--box-shadow-color);
}
